#################
## Eclipse
#################

*.pydevproject
.project
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
.idea/*
177Robot2016/.idea/compiler.xml
177Robot2016/.idea/.name
*.iml
177Robot2016/.idea/encodings.xml
*.class